# Conduct a analysis of the performance

In [32]:
import pandas
import duckdb
import plotly.express as px
import plotly.graph_objects as go

# 1.Read & load the results from the databases crash test !

In [2]:
file_path = '/Users/macbook/Development/database_crash_test/benchmarker/database_benchmark_results.csv'
results_df = pandas.read_csv(file_path)
results_df.columns

Index(['query', 'original_query', 'database_type', 'execution_time_ms',
       'cpu_usage_percent', 'memory_usage_mb', 'memory_usage_percent',
       'disk_read_mb', 'disk_write_mb', 'network_in_mb', 'network_out_mb',
       'result_rows', 'result_size_mb', 'failed'],
      dtype='object')

In [3]:
# check if results return failed queries
failed = results_df[results_df['failed'] == True]
failed

#print(failed['original_query'].values)

,query,original_query,database_type,execution_time_ms,cpu_usage_percent,memory_usage_mb,memory_usage_percent,disk_read_mb,disk_write_mb,network_in_mb,network_out_mb,result_rows,result_size_mb,failed
21,"/* Power output changes */ SELECT d1.time, d1....","-- Power output changes\nSELECT\n d1.time,\...",ClickHouseHandler,62.819958,6.516528,838.320312,20.466805,0.0,0.0,0.002612,0.004488,0,0.0,True

In [4]:
# Display initial data info
print("\nDataFrame Info:")
results_df.info()

DataFrame Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22 entries, 0 to 21
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   query                 22 non-null     object
 1   original_query        22 non-null     object
 2   database_type         22 non-null     object
 3   execution_time_ms     22 non-null     float64
 4   cpu_usage_percent     22 non-null     float64
 5   memory_usage_mb       22 non-null     float64
 6   memory_usage_percent  22 non-null     float64
 7   disk_read_mb          22 non-null     float64
 8   disk_write_mb         22 non-null     float64
 9   network_in_mb         22 non-null     float64
 10  network_out_mb        22 non-null     float64
 11  result_rows           22 non-null     int64
 12  result_size_mb        22 non-null     float64
 13  failed                22 non-null     bool
dtypes: bool(1), float64(9), int64(1), object(3)
memory usage: 2.4+ KB

In [5]:
print("\nDescriptive Statistics:")
results_df.describe()

Descriptive Statistics:

,execution_time_ms,cpu_usage_percent,memory_usage_mb,memory_usage_percent,disk_read_mb,disk_write_mb,network_in_mb,network_out_mb,result_rows,result_size_mb
count,22.000000,22.000000,22.000000,22.000000,22.0,22.0,22.000000,22.000000,22.000000,22.000000
mean,8853.203199,5.337268,430.088246,14.228960,0.0,0.0,0.001877,0.562511,39031.909091,1.120877
std,40422.731749,7.027358,339.466861,5.215464,0.0,0.0,0.002496,1.736492,70825.570142,1.949297
min,4.889727,0.001995,1.496094,0.146103,0.0,0.0,0.000000,0.000000,0.000000,0.000000
25%,15.210927,0.004409,128.863281,12.584305,0.0,0.0,0.000000,0.000000,1.000000,0.000149
50%,54.085851,2.233626,392.726562,14.307165,0.0,0.0,0.001216,0.002244,75.000000,0.005276
75%,179.286480,6.341376,744.400391,18.173838,0.0,0.0,0.002679,0.006711,8760.000000,0.601627
max,189821.106911,21.210513,860.394531,21.005726,0.0,0.0,0.008762,6.785174,166536.000000,5.082401

# 2. Analyse the results with SQL in duckdb

In [19]:
results_db = duckdb.sql("SELECT * FROM results_df")
results_db

┌───────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┬─────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┬───────────────────┬────────────────────┬────────────────────┬─────────────────┬──────────────────────┬──────────────┬───────────────┬────────────────────┬────────────────────┬─────────────┬────────────────────┬─────────┐
│                                                                                                                                                                   query                                                                                                                                                                   │                                                                                                                                                                         original_query                                                                                                                                                                          │   database_type   │ execution_time_ms  │ cpu_usage_percent  │ memory_usage_mb │ memory_usage_percent │ disk_read_mb │ disk_write_mb │   network_in_mb    │   network_out_mb   │ result_rows │   result_size_mb   │ failed  │
│                                                                                                                                                                  varchar                                                                                                                                                                  │                                                                                                                                                                             varchar                                                                                                                                                                             │      varchar      │       double       │       double       │     double      │        double        │    double    │    double     │       double       │       double       │    int64    │       double       │ boolean │
├───────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┼─────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┼───────────────────┼────────────────────┼────────────────────┼─────────────────┼──────────────────────┼──────────────┼───────────────┼────────────────────┼────────────────────┼─────────────┼────────────────────┼─────────┤
│ /* SELECT Queries */ /* Basic Select with Limit */ SELECT * FROM data LIMIT 100                                                                                                                                                                                                                                                           │ -- SELECT Queries\n-- Basic Select with Limit\nSELECT * FROM data LIMIT 100                                                                                                                                                                                                                                                                                     │ DuckDBHandler     │  7.010936737060547 │ 0.0025935162094763 │    128.86328125 │   12.584304809570312 │          0.0 │           0.0 │                0.0 │                0.0 │         100 │ 0.0069923400878906 │ false   │
│ /* Basic Count */ SELECT COUNT(*) FROM data                                                                                                                                                                                                                                                                                               │ -- Basic Count\nSELECT COUNT(*) FROM data                                                                                                                                                                                                                                                                                                                       │ DuckDBHandler     │  4.889726638793945 │ 0.0068827930174563 │    128.86328125 │   12.584304809570312 │          0.0 │           0.0 │                0.0 │                0.0 │           1 │ 0.0001335144042968 │ false   │
│ /* Select with Simple Date Range Filter */ SELECT * FROM data WHERE time >= '2023-01-01' AND time < '2024-01-01'                                                                                                                                                                                                                          │ -- Select with Simple Date Range Filter \nSELECT * FROM data WHERE time >= '2023-01-01' AND time < '2024-01-01'                                                                                                                                                                                                                                                 │ DuckDBHandler     │ 39.199113845825195 │ 0.0054271356783919 │    128.86328125 │   12.584304809570312 │          0.0 │           0.0 │                0.0 │                0.0 │        8760 │ 0.6016273498535156 │ false   │
│ /* Select with Multiple Filters (Date Range and Category) */ SELECT * FROM data WHERE time >= '2023-01-01' AND time < '2024-01-01' AND power_output > 0                                                                                                                                                                                   │ -- Select with Multiple Filters (Date Range and Category)\nSELECT * FROM data WHERE time >= '2023-01-01' AND time < '2024-01-01' AND power_output > 0                                                                                                                                                                                                           │ DuckDBHandler     │  22.34792709350586 │ 0.0027067669172932 │    128.86328125 │   12.584304809570312 │          0.0 │           0.0 │                0.0 │                0.0 │        4097 │ 0.2814445495605469 │ false   │
│ /* Select with ORDER BY and Limit */ SELECT * FROM data ORDER BY power_output DESC NULLS FIRST LIMIT 50                                                                                                                                                                                                                                   │ -- Select with ORDER BY and Limit\nSELECT * FROM data ORDER BY power_output DESC LIMIT 50                                                                                                                                                                                                                                                                       │ DuckDBHandler     │ 12.831926345825195 │ 0.0028035043804755 │    128.86328125 │   12.584304809570312 │          0.0 │           0.0 │                0.0 │                0.0 │          50 │ 0.0035591125488281 │ false   │
│ /* Get top 50 rows by power output */ /* AGGREGATE Queries */ /* Basic Aggregates */ SELECT AVG(power_output) AS avg_power_output, MAX(power_output) AS max_power_output, MIN(power_output) AS min_power_output FROM data                                                                                                                 │ -- Get top 50 rows by power output\n\n-- AGGREGATE Queries \n-- Basic Aggregates\nSELECT AVG(power_output) as avg_power_output, MAX(power_output) as max_power_output, MIN(power_output) as min_power_output FROM data                                                                                                                                          │ DuckDBHandler     │  6.118059158325195 │ 0.0019950124688279 │    128.86328125 │   12.584304809570312 │          0.0 │           0.0 │                0.0 │                0.0 │           1 │ 0.0001487731933593 │ false   │
│ /* Aggregates with Date Range Filter (Corrected: use AND, standard date format) */ SELECT AVG(power_output) AS avg_power_output, MAX(power_output) AS max_power_output, MIN(power_output) AS min_power_output FROM data WHERE time >= '2023-01-01' AND time < '2024-01-01'                                                                │ -- Aggregates with Date Range Filter (Corrected: use AND, standard date format)\nSELECT AVG(power_output) as avg_power_output, MAX(power_output) as max_power_output, MIN(power_output) as min_power_output FROM data WHERE time >= '2023-01-01' AND time < '2024-01-01'                                                                                        │ DuckDBHandler     │  6.344079971313477 │ 0.0095238095238095 │      86.3359375 │    8.431243896484375 │          0.0 │           0.0 │                0.0 │                0.0 │           1 │ 0.0001487731933593 │ false   │
│ /* Aggregates Grouped by Year with Ordering */ SELECT EXTRACT(YEAR FROM time) AS year, AVG(power_output) AS avg_power_output, MAX(power_output) AS max_power_output, MIN(power_output) AS min_power_output FROM data WHERE time >= '2023-01-01' AND time < '2024-01-01' GROUP BY EXTRACT(YEAR FROM time) ORDER BY EXTRACT(YEAR FROM time) │ -- Aggregates Grouped by Year with Ordering\nSELECT\n    EXTRACT(YEAR FROM time) as year,\n    AVG(power_output) as avg_power_output,\n    MAX(power_output) as max_power_output,\n    MIN(power_output) as min_power_output\nFROM data\nWHERE time >= '2023-01-01' AND time < '2024-01-01'\nGROUP BY EXTRACT(YEAR FROM time)\nORDER BY EXTRACT(YEAR FROM time) │ DuckDBHandler     │  5.954980850219727 │ 0.0063476070528967 │      86.3359375 │    8.431243896484375 │          0.0 │           0.0 │                0.0 │                0.0 │           1 │ 0.0001564025878906 │ false   │
│ /* JOIN Queries */ /* Simple Self-Join to Calculate Power Change */ SELECT t1.time, t1.power_output AS power_output, t2.power_output AS previous_power, t1.power_output - t2.power_output AS power_change FROM data AS t1 JOIN data AS t2 ON t1.time = t2.time                                                                            │ -- JOIN Queries\n-- Simple Self-Join to Calculate Power Change\nSELECT\n    t1.time,     \n    t1.power_output as power_output,  \n    t2.power_output as previous_power, \n    t1.power_output - t2.power_output as power_change\nFROM data t1\nJOIN data t2 ON t1.time = t2.time                                                                              │ DuckDBHandler     │  325.3209590911865 │ 0.0050188205771643 │      86.3359375 │    8.431243896484375 │          0.0 │           0.0 │                0.0 │                0.0 │      166536 │  5.082401275634766 │ false   │
│ /* WINDOW FUNCTION Queries */ /* Running total */ SELECT time, power_output AS power_output, SUM(power_output) OVER (ORDER BY time) AS running_total FROM data ORDER BY time                                                                                                                                                              │ -- WINDOW FUNCTION Queries\n-- Running total\nSELECT\n    time,\n    power_output as power_output,\n    SUM(power_output) OVER (ORDER BY time) as running_total\nFROM data\nORDER BY time                                                                                                                                                                       │ DuckDBHandler     │ 319.75412368774414 │ 0.0042052565707133 │      86.3359375 │    8.431243896484375 │          0.0 │           0.0 │                0.0 │                0.0 │      166536 │  3.811832427978515 │ false   │
│ /* Power output changes */ SELECT d1.time, d1.power_output, d2.power_output AS previous_power_output, d1.power_output - d2.power_output AS power_change FROM data AS d1 LEFT JOIN data AS d2 ON d2.time = (SELECT MAX(time) FROM data WHERE time < d1.time) ORDER BY d1.time                                                              │ -- Power output changes\nSELECT\n    d1.time,\n    d1.power_output,\n    d2.power_output AS previous_power_output,\n    d1.power_output - d2.power_output AS power_change\nFROM data d1\nLEFT JOIN data d2 ON d2.time = (SELECT MAX(time) FROM data WHERE time < d1.time)\nORDER BY d1.time                                                                     │ DuckDBHandler     │ 189821.10691070557 │ 0.0033872976338729 │      1.49609375 │   0.1461029052734375 │          0.0 │           0.0 │                0.0 │                0.0 │      166536 │  5.082401275634766 │ false   │
│ /* SELECT Queries */ /* Basic Select with Limit */ SELECT * FROM data LIMIT 100                                                                                                                                                                                                                                                           │ -- SELECT Queries\n-- Basic Select with Limit\nSELECT * FROM data LIMIT 100                                                                                                                                                                                                                                                                                     │ ClickHouseHandler │  37.51087188720703 │ 14.476984924623116 │    656.58984375 │   16.030025482177734 │          0.0 │           0.0 │ 0.0025444030761718 │ 0.0089626312255859 │         100 │ 0.0069923400878906 │ false   │
│ /* Basic Count */ SELECT COUNT(*) FROM data                                                                                                                                                                                                                                                                                               │ -- Basic Count\nSELECT COUNT(*) FROM data                                                                                                                                                                                                                                                                                                                       │ ClickHouseHandler │ 124.67598915100098 │  5.526934673366834 │      714.609375 │   17.446517944335938 │          0.0 │           0.0 │ 0.0027017593383789 │  0.004521369934082 │           1 │ 0.0001335144042968 │ false   │
│ /* Select with Simple Date Range Filter */ SELECT * FROM data WHERE time >= '2023-01-01' AND time < '2024-01-01'                                                                                                                                                                                                                          │ -- Select with Simple Date Range Filter \nSELECT * FROM data WHERE time >= '2023-01-01' AND time < '2024-01-01'                                                                                                                                                                                                                                                 │ ClickHouseHandler │ 197.48997688293457 │ 21.156317780580075 │    731.44921875 │   17.857646942138672 │          0.0 │           0.0 │ 0.0032100677490234 │      0.42529296875 │        8760 │ 0.6016273498535156 │ false   │
│ /* Select with Multiple Filters (Date Range and Category) */ SELECT * FROM data WHERE time >= '2023-01-01' AND time < '2024-01-01' AND power_output > 0                                                                                                                                                                                   │ -- Select with Multiple Filters (Date Range and Category)\nSELECT * FROM data WHERE time >= '2023-01-01' AND time < '2024-01-01' AND power_output > 0                                                                                                                                                                                                           │ ClickHouseHandler │  119.9350357055664 │  5.815919395465994 │    729.46484375 │   17.809200286865234 │          0.0 │           0.0 │ 0.0028057098388671 │ 0.2253036499023437 │        4097 │ 0.2814445495605469 │ false   │
│ /* Select with ORDER BY and Limit */ SELECT * FROM data ORDER BY power_output DESC NULLS FIRST LIMIT 50                                                                                                                                                                                                                                   │ -- Select with ORDER BY and Limit\nSELECT * FROM data ORDER BY power_output DESC LIMIT 50                                                                                                                                                                                                                                                                       │ ClickHouseHandler │  62.38508224487305 │ 21.210513141426784 │    747.08203125 │   18.239307403564453 │          0.0 │           0.0 │ 0.0024328231811523 │  0.007430076599121 │          50 │ 0.0035591125488281 │ false   │
│ /* Get top 50 rows by power output */ /* AGGREGATE Queries */ /* Basic Aggregates */ SELECT AVG(power_output) AS avg_power_output, MAX(power_output) AS max_power_output, MIN(power_output) AS min_power_output FROM data                                                                                                                 │ -- Get top 50 rows by power output\n\n-- AGGREGATE Queries \n-- Basic Aggregates\nSELECT AVG(power_output) as avg_power_output, MAX(power_output) as max_power_output, MIN(power_output) as min_power_output FROM data                                                                                                                                          │ ClickHouseHandler │ 46.486616134643555 │  5.515382685069009 │    736.35546875 │   17.977428436279297 │          0.0 │           0.0 │ 0.0025501251220703 │ 0.0045375823974609 │           1 │ 0.0001487731933593 │ false   │
│ /* Aggregates with Date Range Filter (Corrected: use AND, standard date format) */ SELECT AVG(power_output) AS avg_power_output, MAX(power_output) AS max_power_output, MIN(power_output) AS min_power_output FROM data WHERE time >= '2023-01-01' AND time < '2024-01-01'                                                                │ -- Aggregates with Date Range Filter (Corrected: use AND, standard date format)\nSELECT AVG(power_output) as avg_power_output, MAX(power_output) as max_power_output, MIN(power_output) as min_power_output FROM data WHERE time >= '2023-01-01' AND time < '2024-01-01'                                                                                        │ ClickHouseHandler │  41.76902770996094 │ 13.697443609022557 │       759.09375 │   18.532562255859375 │          0.0 │           0.0 │ 0.0026006698608398 │ 0.0045385360717773 │           1 │ 0.0001487731933593 │ false   │

In [7]:
results_df.columns

Index(['query', 'original_query', 'database_type', 'execution_time_ms',
       'cpu_usage_percent', 'memory_usage_mb', 'memory_usage_percent',
       'disk_read_mb', 'disk_write_mb', 'network_in_mb', 'network_out_mb',
       'result_rows', 'result_size_mb', 'failed'],
      dtype='object')

## Overall Performance Analysis (Execution Time)

In [50]:
# get average execution time
avg_execution_time = duckdb.sql(
    """SELECT 
    database_type,
    ROUND(AVG(execution_time_ms), 2) as avg_execution_time_ms,
    ROUND(MEDIAN(execution_time_ms), 2) as median_execution_time_ms,
    ROUND(MIN(execution_time_ms), 2) as min_execution_time_ms, 
    ROUND(MAX(execution_time_ms), 2) as max_execution_time_ms,
    FROM results_df
    GROUP BY database_type
    ORDER BY avg_execution_time_ms
    """
    )
avg_execution_time

┌───────────────────┬───────────────────────┬──────────────────────────┬───────────────────────┬───────────────────────┐
│   database_type   │ avg_execution_time_ms │ median_execution_time_ms │ min_execution_time_ms │ max_execution_time_ms │
│      varchar      │        double         │          double          │        double         │        double         │
├───────────────────┼───────────────────────┼──────────────────────────┼───────────────────────┼───────────────────────┤
│ ClickHouseHandler │                381.78 │                    62.82 │                 37.51 │                1755.7 │
│ DuckDBHandler     │              17324.63 │                    12.83 │                  4.89 │             189821.11 │
└───────────────────┴───────────────────────┴──────────────────────────┴───────────────────────┴───────────────────────┘

In [51]:
# define dark theme
template = 'plotly_dark'

In [ ]:
"""
# grouped median/avg execution time per database
databases = results_df['database_type'].unique().tolist()

avg_median_perf = go.Figure(
    data=[
    go.Bar(name='Average', x=databases, y=avg_execution_time['avg_execution_time_ms']),
    go.Bar(name='Median', x=databases, y=avg_execution_time['median_execution_time_ms'])
])
avg_median_perf.update_layout(
    barmode='group', 
    template=template, 
    title='Average vs Median Execution Time by Database Type')
avg_median_perf.show()
"""

In [ ]:

avg_execution_time_plot = px.bar(
    avg_execution_time, 
    x='database_type', 
    y='avg_execution_time_ms',
    title='Average Execution Time by Database Type',
    template=template,
    #barmode='group',
    width=800
)
avg_execution_time_plot.show()

## Query execution time analysis