# Conduct a analysis of the performance

In [1]:
import pandas
import duckdb
import plotly.express as px

In [2]:
file_path = '/Users/macbook/Development/database_crash_test/benchmarker/database_benchmark_results.csv'
df = pandas.read_csv(file_path)
df.head()

,query,original_query,database_type,execution_time_ms,cpu_usage_percent,memory_usage_mb,memory_usage_percent,disk_read_mb,disk_write_mb,network_in_mb,network_out_mb,result_rows,result_size_mb,failed
0,/* SELECT Queries */ /* Basic Select with Limi...,-- SELECT Queries\n-- Basic Select with Limit\...,MySQLHandler,31.902790,5.764617,957.351562,23.372841,0.0,0.0,0.001584,0.006703,100,0.006992,False
1,/* Basic Count */ SELECT COUNT(*) FROM data,-- Basic Count\nSELECT COUNT(*) FROM data,MySQLHandler,43.203831,1.302412,973.296875,23.762131,0.0,0.0,0.001490,0.001691,1,0.000134,False
2,/* Select with Simple Date Range Filter */ SEL...,-- Select with Simple Date Range Filter \nSELE...,MySQLHandler,200.277090,1.110075,980.140625,23.929214,0.0,0.0,0.003696,0.438434,8760,0.601627,False
3,/* Select with Multiple Filters (Date Range an...,-- Select with Multiple Filters (Date Range an...,MySQLHandler,158.864021,1.251236,979.394531,23.910999,0.0,0.0,0.002726,0.231462,4097,0.281445,False
4,/* Select with ORDER BY and Limit */ SELECT * ...,-- Select with ORDER BY and Limit\nSELECT * FR...,MySQLHandler,161.954880,1.144322,979.898438,23.923302,0.0,0.0,0.001598,0.005227,50,0.003559,False